.p-dataview .p-paginator-top {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-dataview .p-paginator-bottom {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.p-dataview .p-dataview-header {
    background: var(--surface-header);
    color: var(--text-color-header);
    border-color: var(--surface-border);
    border-style: solid;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
}
.p-dataview .p-dataview-content {
    background: var(--surface-content);
    color: var(--text-color);
    border: 0 none;
    padding: 0;
}
.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: solid var(--surface-border);
    border-width: 0 0 1px 0;
}
.p-dataview .p-dataview-footer {
    background: var(--surface-footer);
    color: var(--text-color-footer);
    border-color: var(--surface-border);
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.p-dataview .p-dataview-loading-icon {
    font-size: 2rem;
}
.p-dataview .p-dataview-emptymessage {
    padding: var(--content-padding);
}
